
<html>
  <head>
      <title>A Rather Extraordinary System (A.R.E.S.)</title>
      <meta name=viewport content="width=device-width, initial-scale=1">
    
      {% load static %}
      <!-- CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'chatter_box/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'chatter_box/css/style.css' %}">
     
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="nav_img">
            <img src="{% static 'chatter_box/img/ares.png' %}" alt="ARES"> <a class="navbar-brand" href="#">  (A.R.E.S.)</a>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="traffic" data-toggle="collapse"  href="#traffic_card" aria-expanded="false" aria-controls="trafficcard">Local Traffic</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="weather" data-toggle="collapse"  href="#weather_card" aria-expanded="false" aria-controls="weather_card">Local Weather</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Creator Info</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a id="tim" data-toggle="collapse" class="dropdown-item" href="#tim_card" aria-expanded="false" aria-controls="tim_card">About Tim</a>
              <a id="josh" data-toggle="collapse" class="dropdown-item" href="#josh_card" aria-expanded="false" aria-controls="josh_card">About Josh</a>
            </div>
          </li>
        </ul>
        
      </div>
    </nav>

    <div class="container">

  

      <div class="text-center hd1">
        <!--BEGIN DYNAMIC DIV-->
               <!--ARES CARD-->
               <div id="ares_card" class="collapse.show card mb-3 " style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'chatter_box/img/ares.png' %}" alt="ARES">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="large_text">A.R.E.S.</p>
                        <p id='small_text' class="card-text small">A Rather Extraordinary System</p>
                        <p id='smaller_text' class="card-text"><small class="text-muted">born in Bellevue, WA</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--END ARES CARD-->
        <!--TIM CARD-->
        <div id="tim_card" class="collapse card mb-3 " style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Tim Rogers</h5>
                  <p id='small_text' class="card-text small">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p id='smaller_text' class="card-text"><small class="text-muted">Bellevue, WA</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--END TIM CARD-->
                  <!--Josh CARD-->
        <div id="josh_card" class="collapse card mb-3 " style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Josh Everett</h5>
                  <p id='small_text' class="card-text small">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p id='small_text' class="card-text">josheverett.info</p>
                  <p id='smaller_text' class="card-text"><small class="text-muted">Lexington Park, MD</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--END Josh CARD-->
                  <!--Traffic CARD-->
        <div id="traffic_card" class="collapse card mb-3 " style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Local Traffic</h5>
                  
                  <p id='smaller_text' class="card-text"><small class="text-muted">HOLDING PLACE</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--END Traffic CARD-->
                            <!--Weather CARD-->
        <div id="weather_card" class="collapse card mb-3 " style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Local Weather</h5>
                  
                  <p id='smaller_text' class="card-text"><small class="text-muted">HOLDING PLACE</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--END Weather CARD-->

        <!--END DYNAMIC DIV-->
        <!-- <img src="assets/img/ares.png" alt="ARES">
        <br>
        A.R.E.S.
        <br>
        <div class="powered">
          <span>Powered by</span>
          Tim & Josh
        <div class="footer text-center">
          <span class="foo-txt">
            <br>
            
          </span>
        </div>
      </div> -->

      <mybot></mybot>

    </div><!--container end-->


    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{% static 'chatter_box/js/script.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


  </body>
</html>



